<HTML ng-app="meuModulo">

<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/materialize/init.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/controllers.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <title>Sistema de Alunos Angular JS</title>
</head>

<body ng-controller="indexController">
    <header class="container">
        <h2 ng-bind="titulo"></h2>
    </header>
    <main class="container">
        <div class="row">
            <input type="text" ng-model="busca" placeholder="Busca">
        </div>
        <table class="striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Nota 1</th>
                    <th>Nota 2</th>
                    <th>Nota 3</th>
                    <th>Média</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="aluno in alunos | filter:busca">
                    <td>{{aluno.nome}}</td>
                    <td>{{aluno.email}}</td>
                    <td>{{aluno.nota1}}</td>
                    <td>{{aluno.nota2}}</td>
                    <td>{{aluno.nota3}}</td>
                    <td>{{aluno.media}}</td>
                    <td>
                        <button data-target="modal1" ng-click="editarAluno(aluno)"
                            class="btn blue modal-trigger">Editar</button>
                        <button ng-click="deletarAluno(aluno)" class="btn red">Deletar</button>
                    </td>
                </tr>
            </tbody>
            <div class="row">
                <button ng-click="abreAddAluno()" data-target="modal1" class="btn modal-trigger">Adicionar</button>
            </div>
        </table>
    </main>
    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4 ng-if="!editando">Adicionar Aluno</h4>
            <h4 ng-if="editando">Editar Aluno</h4>
            <p>Preencha os dados do aluno.</p>
            <div class="row">
                <div class="input-field col m6 s12">
                    <input type="text" ng-model="Aluno.nome" class="validate" placeholder="Nome">
                </div>
                <div class="input-field col m6 s12">
                    <input type="text" ng-model="Aluno.email" class="validate" placeholder="E-Mail">
                </div>
                <div class="input-field col m4 s12">
                    <input type="text" ng-model="Aluno.nota1" class="validate" placeholder="Nota 1">
                </div>
                <div class="input-field col m4 s12">
                    <input type="text" ng-model="Aluno.nota2" class="validate" placeholder="Nota 2">
                </div>
                <div class="input-field col m4 s12">
                    <input type="text" ng-model="Aluno.nota3" class="validate" placeholder="Nota 3">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
            <button ng-if="!editando" ng-click="addAluno(Aluno)" class="btn blue">Adicionar</button>
            <button ng-if="editando" ng-click="salvarAluno(Aluno)" class="btn blue">Salvar</button>
        </div>
    </div>
</body>

</HTML>